@font-face {
    font-family: 'MADEBonVoyage';
    src:url('./font/MADEBonVoyage.ttf.woff') format('woff'),
        url('./font/MADEBonVoyage.ttf.svg#MADEBonVoyage') format('svg'),
        url('./font/MADEBonVoyage.ttf.eot'),
        url('./font/MADEBonVoyage.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
    font-family: 'MADEBonVoyage';
    font-weight: 400;
}
html{
    width: 100vw;
    height:100vh;
    cursor:url('./photos/Ellipse\ 1.svg'), auto;
}
a{
    all: unset;
}
html {
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
      }
body{
    color:#1a1818;
    background-color: #ece7e1;
    display: flex;
}
.loader{
    z-index: 1200;
    position: absolute;
    top:0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    background-color: #1a1818;
    animation-timing-function: ease-out;
    -webkit-animation: fade-out 2s;
          animation: fade-out 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;


}
header{
    display: flex;
}
.container{
    width: 100vw;
display: flex;
}
.nav-left{
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
}
.nav-left-item{
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 15px;
    transform: rotate(-90deg);
    cursor:url('./photos/Ellipse\ 1-2.svg'), auto;
}
.nav-left-item:hover{
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;


}

.nav-left-line{
    width: 1px;
    height: 150px;
    background-color: #1a1818;
    margin-top: 10px;
    margin-bottom: 80px;
}
.nav-porfolio{
    width: 150px;
    position: absolute;
    top: auto;
    bottom: 6vh;
    left: 0%;
    right: 0%;
}

.article-center{

    margin-left: 17vw;
    display: flex;
    flex-direction: column;
    
}
p{
    font-size: 1vw;
}
.nom {
    all: unset;
    margin-top: 25vw;
    margin-bottom: 30px;
    font-size: 30px;
}
.metier{
    all: unset;
}
.recherche {
    all: unset;
}
.img-iliane{
    margin-left: 2vw;
    max-width: 25vw;
    -webkit-animation: img 0.7s;
          animation: img 0.7s;
          transition: ease-in-out;
}
.effet-moi{
    display: flex;
    margin-top: 9vw;
    overflow: hidden;
}
.mon-parcour{
    display: flex;
    margin-top: 9vw;
    overflow: hidden;
}
.moi{
    all: unset;
    font-size: 180px;
    transition: ease-in-out;
    -webkit-animation: pop-up 1.9s;
          animation: pop-up 1.9s;

}
.description-moi{
    all: unset;
    font-size: 2vw;
    
    
}
.description-moi-plus{
    all: unset;
    font-size: 1.3vw;
    margin-top: 20px;
   

}
.nav-right{
    text-align: left;
    padding-top: 5%;
    padding-left: 6%;
    -webkit-animation: blur 3s;
          animation: blur 3s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.nav-right-item {
    z-index: 100;
    color:#ece7e1;
    text-align: left;
    text-transform: uppercase;
    font-family: 'MADEBonVoyage';
    font-size: 4vw;
    text-decoration: none;
    display: block;
    position: relative;
    cursor:url('./photos/Ellipse\ 1-2.svg'), auto;
    

}

.nav-right-item{
    box-shadow: inset 0 0 0 0 #1a1818;
    color: #ece7e1;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
  }
  .nav-right-item:hover {
    color: #1a1818;
    box-shadow: inset 60vw 0 0 0 #ece7e1;;
  }


  @keyframes fade-out {
    85% {
      opacity: 1;
    }
    80% {
        transform: translateY(-1200px);
      height: 100%;
      width: 100%;
      opacity: 1;
    }
    100% {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  @keyframes pop-up {
    0% {
        transform: translateY(250px);
        
    }
    50%{
        transform: translateY(250px);
    }
    100%{
        transform: translateY(0px);
        

    }
}
@keyframes img {
    0% {
        transform: scale(0.5);
    }
  50%{
    transform: scale(0.5);
  }
    100%{
        transform: scale(1.0)

    }
    
  }

  .arrow {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6vw;
    margin-bottom: 5vw;
}
span{
    margin:4px;
}

.arrow span {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-bottom: 5px solid #1a1818;
    border-right: 5px solid #1a1818;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.arrow span:nth-child(2) {
    animation-delay: -0.2s;
}

.arrow span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

.mon-parcour{
    font-size: 3vw;
    margin-bottom: 20px;
}

.date{
    font-size: 1.5vw;
}
.fonction{
    font-size: 1.3vw;
}


.btn {
    cursor:url('./photos/Ellipse\ 1-2.svg'), auto;
    position: relative;
    padding: 10px 20px;
    font-size: 28px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}
.btn:after, .btn:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}
.btn:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid #1a1818;
    border-left: 5px solid #1a1818;
}
.btn:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid #1a1818;
    border-right: 5px solid #1a1818;
}
.btn:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
}
.btn:hover:before, .btn:hover:after {
    width: 100%;
    height: 100%;
}
.btn-cv{
    margin-top: 7vw;
    margin-bottom: 7vw;

}
@keyframes blur {
    0% {
        -webkit-filter: blur(30px);
        -moz-filter: blur(30px);
        -o-filter: blur(30px);
        -ms-filter: blur(30px);
      }
    90% {
      -webkit-filter: blur(0px);
      -moz-filter: blur(0px);
      -o-filter: blur(0px);
      -ms-filter: blur(0px);
    }
    50% {
      -webkit-filter: blur(30px);
      -moz-filter: blur(30px);
      -o-filter: blur(30px);
      -ms-filter: blur(30px);
    }
  }
.description-moi{
    
    animation: blur 0.8s;
}
.description-moi-plus{
    animation: blur 1s;
}
.mon-parcour{
    animation: blur 1.2s;
}
.date{
    animation: blur 1.4s;
}
.fonction{
    animation: blur 1.6s;
}
.skills{
    font-size: 3vw;
}
.skills-description{
    font-size: 1.3vw;
    margin-top: 2vw;
}
.btn-contact{
    margin-bottom: 10vw;
}

.article-projet{
    margin-left: 17vw;
    display: flex;
    flex-direction: column;
}
.titre-projet{
    font-size: 12vw;
}

.img-pres{
    max-width: 80vw;
}

  @media all and (max-width: 800px) {
    .nav-right-item{
        font-size: 7vw;
    }
    .description-moi{
        font-size: 3vw;
    }
    .description-moi-plus{
        font-size: 3vw;
    }
    .moi{
        margin-top: 170px;
        font-size: 15vw;
    }
    .nav-right {
        display: none;
    };
    .mon-parcour{
        font-size: 10vw;
    }
    .date{
        font-size: 4vw;
    }
    .fonction {
        font-size: 3vw;
    }
    .arrow{
        display: none;
    }
    .btn {display: none;}
    .skills{
        font-size: 10vw;
    }
    .skills-description{
        font-size: 3vw;
    }
    .nav-porfolio{display: none;}
  }

