@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');
* {
    box-sizing: border-box;
    font-family: 'Orbitron', sans-serif;
    font-weight: 400;
}
/* ------color --------*/
:root {

        --bg-light: #C49D83;
        --bg-dark: #80586D;
      
        --bg-white-light: #C49D83;
        --bg-white-dark: #80586D;
      
        --bg-black-light:#F4CFDF ;
        --bg-black-dark: #5784BA;

        --bg-green-light: #B8CBD0;
        --bg-green-dark: #344D59;
      
        --text-color: #80586D;
        --text-white: #80586D;
        --text-black: #5784BA;
        --text-green: #344D59;
      

}

/* -------------------------------------- */
html {
    overflow-y: hidden;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
      }
body{
    display: flex;
    background-color: var(--bg-light);
    color: var(--text-color);
}
a{
    all:unset;
}
.color{
    display: flex;
    font-weight: 700;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 25px;
    
}
.color1{
    background-color: var(--bg-white-light);
    border : solid var(--text-white);
    color : var(--text-white)
}
.color2{
    background-color: var(--bg-black-light);
    border : solid var(--text-black);
    color : var(--text-black)
}
.color3{
    background-color: var(--bg-green-light);
    border : solid var(--text-green);
    color : var(--text-green)
}
.loader{
    background-color: var(--bg-dark);
    position: absolute;
    top:0;
    left: 0%;
    height: 100vh;
    width: 100vw;
    animation-timing-function: ease-out;
    -webkit-animation: fade-out 1.5s;
          animation: fade-out 1.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;

}
header{
    display: flex;
}
.container{
    width: 100vw;
display: flex;
}
.nav-left{
    z-index: 600;
    width: 6%;
    height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 30px;
    display: flex;
    position: fixed;
}
.nav-left-item{
    flex: 0 auto;
    margin-bottom: 40px;
    padding-left: 20px;
    padding-right: 15px;
    transform: rotate(-90deg);
    cursor: pointer;
}
.nav-left-item:hover{
    text-decoration: line-through;
    text-decoration-thickness: 1.5px;


}

.nav-left-line{
    background-color: var(--bg-dark);
    width: 1px;
    height: 150px;
    margin-top: 10px;
    margin-bottom: 80px;
}
.nav-porfolio{
    width: 150px;
    position: absolute;
    top: auto;
    bottom: 6vh;
    left: 0%;
    right: 0%;
}

.article-center{
    margin-left: 17vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    
}

.nom {
    all: unset;
    font-size: 30px;
    animation: pop-up 0.8s;
    
}
.div-description1{
    display: flex;
    margin-top: 25vw;
    margin-bottom: 30px;
    overflow: hidden;
}
.div-description{
    display: flex;
    overflow: hidden;
}
.metier{
    all: unset;
    animation: pop-up 0.8s;
}
.recherche {
    all: unset;
    animation: pop-up 0.8s;
    
}
.nav-right{
    z-index: 500;
    text-align: left;
    padding-top: 10%;
    padding-left: 6%;
}

.nav-right-item {
    z-index: 100;
    animation-timing-function: ease-out;
        -webkit-animation: blur 0.5s;
              animation: blur 0.5s;
    text-align: left;
    text-transform: uppercase;
    font-family: Grandslang roman, sans-serif;
    font-size: 12vw;
    text-decoration: none;
    display: block;
    position: relative;
    cursor: pointer;
}

@keyframes fade-out {
    
    50% {
      opacity: 1;
      
    }
    80% {
        transform: translateY(1500px);
      height: 100%;
      width: 100%;
    }
    100% {
      opacity: 0;
      height: 0;
      width: 0;
    }
  }

  @keyframes pop-up {
    0% {
        transform: translateY(100px);
    }
    50%{
        transform: translateY(100px);
    }
    100%{
        transform: translateY(0px);
    }
  }
/*------------ color------------------- */
  .nav-right-item{
    box-shadow: inset 0 0 0 0 var(--text-dark);
    color: var(--text-color);
    transition: color .5s ease-in-out, box-shadow .5s ease-in-out;

  }
  .nav-right-item:hover {
    color: var(--bg-light);
    box-shadow: inset 60vw 0 0 0 var(--text-color);
  }
  @keyframes blur {
    0%{color: transparent;
        text-shadow: 0 0 20px var(--text-dark)}
    80%{color: transparent;
        text-shadow: 0 0 20px var(--text-dark)}
 
    100%{
        color: var(--text-color)
    }
  }
  
  